::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.leaflet-container {
  width: 50%;
  height: 60vh;
  z-index: 0;
}
