::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.leaflet-container {
  width: 50%;
  height: 60vh;
  z-index: 0;
}

.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.ant-float-btn-content {
  width: 40px !important;
}

.ant-float-btn-icon {
  text-align: center !important;
  margin: auto !important;
  width: max-content !important;
  font-size: 18px !important;
  line-height: 1 !important;
}
